p.red {
    color: #ff0000;
}

.brown {
    color: brown;
}

.font {
    font-family: Arial; font-size: 5em; font-style: italic;
}

.fonttype {
    font: italic bold 4em Arial;
}

.textclass {
    text-align: center; text-decoration: underline; color:chartreuse; font-size: 4em; font-family: 'Times New Roman';
}

body {
    background: url(images/fon4.jpg); background-size: cover;
}

.divstyle {
    max-width: 1600px; min-width: 1500px;
}

.spanstyle {
    text-decoration: line-through; color: darkblue;
}

.border {
    border: 5px solid #ff0000;
    padding: 20px 10px 20px 50px;
    margin: 100px; 
}